/* Custom Styles */
body {
  background-color: #edecef;
  font-family: Arial, sans-serif;
}
.overview-hd{
  font-weight:700;
}
.heading{
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom:0.7rem;
}
#monthFilter {
  width: 170px;
  margin-right:10px;
  float: right !important;
}
.card {
  margin-bottom: 20px;
  border-radius: 0px;
}
.card img{
  width: 40px;
  margin-right: 20px;
}
.card h5{
  font-weight:bold;
}
.card p{
  margin-bottom: 0.5rem;
}
.btn-primary{
  background-color: #007d79;
  border-color:#007d79;
}
.btn-primary:hover, .btn-primary:focus{
  background-color: #005d5d;
  border-color:#005d5d;
}
.main-container{
  margin-top:30px;
}
.row{
  margin-top:30px;
}
.tbl-container{
  margin-top:5px;
}
.title{
  font-family: Verdana, sans-serif;
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-style: italic;
  color:white;
}
.tagline{
      font-style: italic;  
      color: #f0f7f6;
      float:right;
      line-height:19px;
      margin-top:9px;
}
.header{
  background-color: #007d79!important;
  min-height: 62px;
  padding: 10px 0px;
}
.header .row{
  margin-top:0px;
}
.edit img, .delete img{
  width:17px;
}
#expenseForm .form-group:nth-child(n+2){
  margin-top:5px;
}
/* X-Small devices (portrait phones, less than 576px)**/
@media (max-width: 768px) {
  /**Align Tagline in header to the left**/
  .tagline{
    float:left;
  }
  /**Align month filter in header to the left**/
  #monthFilter {
    float: left !important;
  } 
  /**Adjust margins based on mobile view**/
  .card {
    margin-bottom: 5px;
  }
  .main-container{
    margin-top:15px;
  }
  .row{
    margin-top:15px;
  }
  .tbl-container{
    margin-top:10px;
  }
  #expenseTable{

  }
}